/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-light-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-light-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-light-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
.guest-bg{
    background-image: url('../../public/assets/img/bg.jpeg');
}
.d-inline-table{
    display: inline-table;
}
.sidenav {
    z-index: 998 !important;
}
button:disabled {
  background-color: #cbcbcb !important;
  color: #818181 !important;
}
button:disabled:hover {
  background-color: #cbcbcb !important;
  color: #818181 !important;
}
.form-control{
    border: 1px solid #d2d6da !important;
    padding: 0.5rem 0.5rem !important;
}
.sidebar .router-link-active{
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    color: #fff !important;
}
.fr-wrapper div:first-child {
  display: none !important;
}
[id^='insertFiles-'] {
  display: none !important;
}
[id^='insertFile-'] {
  display: none !important;
}
[id^='imageByURL-'] {
  display: none !important;
}
[id^='imageManager-'] {
  display: none !important;
}
[id^='openFilePickerImage-'] {
  display: none !important;
}
[id^='openFilePicker-'] {
  display: none !important;
}
[id^='fontAwesome-'] {
  display: none !important;
}
[id^='insertVideo-'] {
  display: none !important;
}
[id^='moreRich-']{
  display: none !important;
}
[id^='markdown-']{
  display: none !important;
}
[id^='moreMisc-']{
  display: none !important;
}
.loader-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  background: #8b5cf617;
  z-index: 999;
}
.triangle1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #191919  transparent transparent transparent;
  margin: 0 auto;
  animation: shk1 1s ease-in-out infinite normal;
}

.triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #42424a  transparent;
  margin: -50px auto 0;
  animation: shk2 1s ease-in-out infinite alternate;
}
@keyframes shk1 {
  0% {
    transform: rotate(-360deg);
  }

  100% {
  }
}

@keyframes shk2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
  }
}
.planDescription li{
  padding-bottom:10px;
}